<div class="container">
    <div class="row">
        <div class="card col-6 home" style="width: 18rem;">
            <img src="../../assets/imgs/peligro.png" class="card-img-top" alt="...">
            <a routerLink="/incidencia/create" class="homb btn btn-primary">Reporte de Incidencias</a>
          </div>
          <div class="card col-6 home" style="width: 18rem;">
            <img src="../../assets/imgs/reloj.png" class="card-img-top" alt="...">
            <a routerLink="/incidencia" class="homb btn btn-primary">Incidencias Realtime</a>
          </div>
    </div>
</div>